# scienceagentbench-specific
anndata
Bio
biopsykit
cartopy
ccobra
cftime
chemprop
deepchem
DeepPurpose
eofs
fau_colors
geopandas
geoplot
imblearn
iris
mastml
matminer
matplotlib
MDAnalysis
mlxtend
mne
modnet
muon
netCDF4
networkx
neurokit2
numpy
oggm
pandas
papyrus_scripts
phonopy
prolif
pykrige
pymatgen
qsprpred
rasterio
rdkit
scanpy
scikit_learn
scipy
scirpy
scvi
seaborn
Shapely
scikit-image
tensorflow
torch
tqdm
xarray
scanpy
leidenalg
contextily
pysal
salem
heartpy
biosppy
openpyxl
mdtraj
lxml
simtk
folium
biopandas
mda
pygeos
pyentrp
gstools
peakutils
PyWavelets
pynufft
gensim
xesmf
lfpykit
graph_scheduler
wordcloud
quail
lobsterpy
lfpykit
NiMARE
neuron
librosa
netplotbrain
vplanet
LFPy
MDAnalysis
SyncPy
gempy
pysces
neuron
lfpykit
Image