# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
.venv/
.venv-*/
CLAUDE.md
*.egg-info/
data/
results/
scripts/logs/
examples/results/
kaggle.json
pass_k_results/
generation_results/
filtered_results/
evaluation_results/
