fastapi==0.104.1
uvicorn==0.24.0
httpx
jupyter-client==8.6.0
ipykernel==6.26.0 
numpy
scikit-learn
pandas
scipy
requests
sympy
tavily-python
statsmodels
torch==2.4.1
dowhy[causal-discovery]
econml
causalml
linearmodels
networkx
pyarrow
openpyxl
xlrd
pyreadstat
tabulate
lingam
pgmpy